#addEmployeeBtn {
  position: relative;
  margin: 10px;
  right: -727px;
}
.inputs::#annualSalaryIn::before {
  content: "$";
}

#employeeTableOut tr:hover {
  background-color: #ddd;
}
#employeeTableOut td,
#employeeTableOut th {
  border: 1px solid #ddd;
  padding: 8px;
}
#employeeTableOut {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#employeeTableOut th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f19d4d;
  color: white;
}

h1 {
  text-align: center;
  background-color: #dfdaa4;
  padding: 10px;
}

div.inputs {
  border: none;
  box-shadow: 1px 1px 1px 1px #ccc;
  flex: 0;
  padding: 10px;
  transition: all 0.75s;
  background: #ddd;
  margin: 0 auto;
  max-width: 40em;

  font-size: 20px;
}

input::placeholder {
  font-size: 15px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h3 {
  position: relative;
  margin: 10px;
  right: -714px;
}
