#addEmployeeBtn {
  position: relative;
  margin: 10px;
  right: -714px;
}
#employeeTableOut tr:hover {
  background-color: #ddd;
}
#employeeTableOut {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#employeeTableOut th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f19d4d;
  color: white;
}

h1 {
  text-align: center;
  background-color: #dfdaa4;
  padding: 10px;
}

div.inputs {
  width: ;
}
